<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {% for obj in objects %}
            <div>{{obj.num}}</div>
        {% endfor %}
    </body>
</html>